In [ ]:

#1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
"""
*          Expressions  ;    
'hello'    Values  ;
-87.8      Values  ;
-          Expressions  ;
/          Expressions  ;
+	         Expressions  ;
6          Values 
"""

"\n*          Expressions  ;    \n'hello'    Values  ;\n-87.8      Values  ;\n-          Expressions  ;\n/          Expressions  ;\n+\t         Expressions  ;\n6          Values \n"

In [ ]:
#2. What is the difference between string and variable?

#String - it can be entered into quotes. example: "sandy" or 'sandy'
#Variable - it can be used as a place/container to store data values. example: a = 10 ; where a is variable & 10 is data value.

In [ ]:
#3. Describe three different data types.
#integer - it can store only numerical values i.e,. numbers
#Float - it can store floating values like decimal points, example - 22.32 , 445.025
#Boolean - it results with only two possible solutions of /statement with problemeither True or False

In [2]:
#4. What is an expression made up of? What do all expressions do?
"""An Expression is made up of Mathematical operators (like + - * /) and operands. 
It is used to perform operations with operands to obtain results or evaluate the values and gives an output.
Example: 7 + 3 = 10
where: 7 and 3 is operand , + operator and 10 is result. """

'An Expression is made up of Mathematical operators (like + - * /). \nIt is used to perform operations with operands to obtain results or evaluate the values and gives an output.\nExample: 7 + 3 = 10\nwhere: 7 and 3 is operand , + operator and 10 is result. '

In [3]:
#5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?
"""Expressions is made up of Mathematical operators, operands or values. 
Statement is a simple command that executes like a print command in Python."""

'Expressions is made up of Mathematical operators, operands or values. \nStatement is a simple command that executes like a print command in Python.'

In [4]:
#6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1
#answer is 23

23

In [5]:
#7. What should the values of the following two terms be?

'spam' + 'spamspam'
'spam' * 3
# the output of 2 terms will be same

'spamspamspam'

In [6]:
#8. Why is eggs a valid variable name while 100 is invalid?
""" A Variable name should always starts with alphabets and not with numerical values.
For example: Name , eggs, eggs100 , ab10cd are valid variable name. Since its starting with alphabets and not with numbers.
That is why Eggs is a Valid Variable name and 100 is invalid"""

' A Variable name should always starts with alphabets and not with numerical values.\nFor example: Name , eggs, eggs100 , ab10cd are valid variable name. Since its starting with alphabets and not with numbers.\nThat is why Eggs is a Valid Variable name and 100 is invalid'

In [8]:
#9. What three functions can be used to get the integer, floating-point number, or string version of a value?
""" str() ; int() ; float() """

' str() ; int() ; float() '

In [14]:
#10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

#Answer: because 99 is an integer and it cannot concatenate with a string.To concatenate we can do typecasting to get an output.
#For example: 'I have eaten' + '99' + 'burritos' here all of them are in string, hence it will Concatenate.

TypeError: ignored